In [ ]:
# Main topic i want to explore. What changed between 2020-2021 season and the 2021-2022 season for the timberwolves
# Some hypothesis I want to test out
# It is due to injuries
# Anthony edwards is playing better
# KAT is playing better
# New Addittions and trades
# Our team has a better chemistry How do you measure chemistry
# The schedule?

In [ ]:
#Structure of the analysis
#Talk about the problem at hand and then come up with data that supports or refutes your claim
# Start off with basic descriptive information about the team before and after and talk about changes in line up

#

# How did the Timberwolves get to be a playoff team this year?

## Introduction

The Minnesota Timberwolves have just record their 40th win of the season this past Monday with a dominating 60 point performance by KAT against the Spurs. KAT's 60 point game is the most any other player has scored this year and the first 60 point game by a center since Shaq.
    
So you might be thinking, KAT is playing better this season that is why we are at 40 wins for the first time since 2018. Or you maybe thinking its cause we have less injuries than last year. Or maybe its because we actually have a cohesive squad this year. Whatever you are thinking, I am going to explore these claims and some more claims as to why the timberwolves have been playing exponetially better than last years team.
    
## Comparison of the two seasons

Minnesota played 72 games last season due to a shortened 2020-21 season due to covid. That season they finished with a record of 23-49 or a 31.9 win percentage. For the 2021-22 season, the Timberwolves have played 70 games so far and have a record of 40-30 or a 57.1 win percentage.

So what is the cause for such a turn around of a season? When taking a look at the team data, I took a look at a key basketball stats and created per game averages to better compare the two seasons because the games played aren't the same. With those averages you can see below that not much changed except a few metrics that may help tell the story.

The first thing to point out is the three point shooting. We are attempting around 4 more three point shots a game than last year and making more on average each game due to the increase. Our team 3pt percentage has also increased from 34.9% to 35.3% given the increase in 3 pt shooting on average per game.

This increase in three point shooting has led to use increasing our pts per game from 112 at the end of the year last year to 115 pts per game up till the 70th game this year.

Lastly, our rebound has gotten better. Our offensive rebounding has increased by a little under 1 offesnive rebound per game from last year and our total rebound has increased by 1 rebound per game from last year.

But all the other other stats we see are pretty comparable so are the above points enough to cause enough of a change in win percetnage from the 2020-21 season to the 2021-22 season? I will let you all decide on your opinion but I believe that an increase in 3 pts attempted, 3 pt percentage, and rebounds are a big part in the turn around. Some other things to take into consideration is the change in defense but I will not touch upon that in this analysis

Next things I will take a look at are a couple of players. I will be looking at KAT, Ant, and DLo,



##

In [7]:
from nba_api.stats.static import teams
# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format(len(nba_teams)))
twolves_id = [team for team in nba_teams if team['full_name'] == 'Minnesota Timberwolves'][0]['id']
twolves_id

Number of teams fetched: 30

1610612750

In [62]:
from nba_api.stats.static import players
# get_teams returns a list of 30 dictionaries, each an NBA team.
# Find players by first name.
players.find_players_by_full_name('Karl-Anthony Towns')['id']

TypeError: list indices must be integers or slices, not str

In [85]:
from nba_api.stats.static import players
# get_teams returns a list of 30 dictionaries, each an NBA team.
# Find players by first name.
kat_id = players.find_players_by_full_name("Karl-Anthony Towns")[0]['id']
joker_id = players.find_players_by_full_name("Nikola Jokic")[0]['id']
embiid_id = players.find_players_by_full_name("Joel Embiid")[0]['id']
ant_id = players.find_players_by_full_name("Anthony Edwards")[0]['id']
dlo_id = players.find_players_by_full_name("D'Angelo Russell")[0]['id']
patbev_id = players.find_players_by_full_name("Patrick Beverley")[0]['id']

id_list = [kat_id, joker_id, embiid_id, ant_id, dlo_id, patbev_id]

In [87]:
len(id_list)

6

In [28]:
from nba_api.stats.endpoints import teamyearbyyearstats
twolves_season = teamyearbyyearstats.TeamYearByYearStats(team_id=twolves_id)
tw_seas = twolves_season.get_data_frames()[0]
tw_seas[['TEAM_NAME', 'YEAR', 'GP', 'WINS', 'LOSSES', 'WIN_PCT', 'CONF_RANK', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT']].iloc[31:33]

,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT
31,Timberwolves,2020-21,72,23,49,0.319,13,2932,6546,0.448,944,2706,0.349,1265,1662,0.761
32,Timberwolves,2021-22,70,40,30,0.571,7,2899,6380,0.454,1029,2911,0.353,1228,1588,0.773

In [45]:
try1 = tw_seas[['GP','FGM', 'FGA', 'FG3M', 'FG3A', 'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'PF', 'STL', 'TOV', 'BLK', 'PTS']].iloc[31:33]
check=try1[['FGM', 'FGA', 'FG3M', 'FG3A', 'FTM', 'FTA','OREB', 'DREB', 'REB', 'AST', 'PF', 'STL', 'TOV', 'BLK', 'PTS']].div(try1.GP, axis=0)

In [38]:
try1

    GP  OREB  DREB   REB   AST    PF  STL   TOV  BLK   PTS
31  72   757  2376  3133  1846  1507  632  1027  398  8073
32  70   796  2325  3121  1788  1526  618  1016  406  8055

In [46]:
check

,FGM,FGA,FG3M,FG3A,FTM,FTA,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS
31,40.722222,90.916667,13.111111,37.583333,17.569444,23.083333,10.513889,33.000000,43.513889,25.638889,20.930556,8.777778,14.263889,5.527778,112.125000
32,41.414286,91.142857,14.700000,41.585714,17.542857,22.685714,11.371429,33.214286,44.585714,25.542857,21.800000,8.828571,14.514286,5.800000,115.071429

In [100]:
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id=id_list[0])
career.get_data_frames()[0].tail(2).iloc[:, 10:]
kat_202021_seas = career.get_data_frames()[0].tail(2).iloc[0]
kat_202122_seas = career.get_data_frames()[0].tail(2).iloc[1]

In [104]:
career.get_data_frames()[0].tail(2).iloc[:, 0:11]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA
5,1626157,2020-21,00,1610612750,MIN,25.0,50,50,1689.0,425,875
6,1626157,2021-22,00,1610612750,MIN,26.0,64,64,2145.0,560,1058

In [103]:
career.get_data_frames()[0].tail(2).iloc[:, 10:]

,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
5,875,0.486,122,315,0.387,267,311,0.859,133,396,529,225,39,57,160,186,1239
6,1058,0.529,130,319,0.408,344,417,0.825,169,462,631,238,62,74,201,228,1594

When taking a look at KAT I am going to be comparing his season percentage in field goals, freethrows, and three point percetnage and for the rest of the stats I will be looking as his per game averages.

First thing to note is that KAT was injured more in the 2020-21 season as he missed 22 games out of 72 games and in 2021-22 season so far he has only missed 7 games out of 71 games total. This in itself is a huge indication for the turnaround in the timberwolves season because KAT being our best player playing in more games this season will undoubtebly provide a huge positive impact.

We now turn to the impact that KAT bring per game and compare the numbers between seasons.

In the 2020-21 season, KAT averaged 24.8 pts, 10.6 reb, 4.5 ast, 1.1 blk, and .8 stl per game. His shooting split was 48.6/38.7/85.9 (fg%/3pt%/ft%). 

In the 2021-22 season, KAT averaged 24.9 pts, 9.9 reb, 3.7 ast, 1.2 blk, and .97 stl per game. His shooting split was 52.9/40.8/82.5 (fg%/3pt%/ft%). 

First thing I want to touch upon is KAT's scoring between the two seasons. This season he has been a much more efficient shooter with an increase in fg and 3pt percentages. He is shooting field goals 4% better than the previous season and this is also attempting 1 less fg a game! He has also been more efficient the 3 pointers at a lower clip per game with 1 less 3 pt attempt per game than last year while have a 2% greater 3pt % than last year. This all gets even better as KAT has played more games than last year and is actually scoring a little bit better than last year with more games played! All in all KAT has been having an amazing offensive year while being more efficient than last year.

Next I want to compare the amazing offensive year KAT is having to two of the leading big men in the lead and top 2 in the NBA MVP race these days. I will compare KATS stats to that of Joel Embiid and Nikola Jokic for this year

In [102]:
kat_202122_seas[['FGM', 'FGA', 'FG3M', 'FG3A', 'FTM', 'FTA','OREB', 'DREB', 'REB', 'AST', 'PF', 'STL', 'TOV', 'BLK', 'PTS']].div(kat_202122_seas.GP, axis=0)

FGM         8.75
FGA     16.53125
FG3M     2.03125
FG3A    4.984375
FTM        5.375
FTA     6.515625
OREB    2.640625
DREB     7.21875
REB     9.859375
AST      3.71875
PF        3.5625
STL      0.96875
TOV     3.140625
BLK      1.15625
PTS     24.90625
Name: 6, dtype: object

In [101]:
kat_202021_seas[['FGM', 'FGA', 'FG3M', 'FG3A', 'FTM', 'FTA','OREB', 'DREB', 'REB', 'AST', 'PF', 'STL', 'TOV', 'BLK', 'PTS']].div(kat_202021_seas.GP, axis=0)

FGM       8.5
FGA      17.5
FG3M     2.44
FG3A      6.3
FTM      5.34
FTA      6.22
OREB     2.66
DREB     7.92
REB     10.58
AST       4.5
PF       3.72
STL      0.78
TOV       3.2
BLK      1.14
PTS     24.78
Name: 5, dtype: object

In [8]:
# First get all the wolves games then filter for 2020-21 season and 2021-22 season
from nba_api.stats.endpoints import leaguegamefinder

tw_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=twolves_id).get_data_frames()[0]
game_id_list_202122 = tw_games[tw_games['GAME_DATE'] >= '2021-10-20']['GAME_ID']
game_id_list_202021 = tw_games[(tw_games['GAME_DATE'] >= '2020-12-23') & (tw_games['GAME_DATE'] <= '2021-05-16')]['GAME_ID']
game_id_list_202021.reset_index(drop=True, inplace=True)

In [41]:
game_id_list_202122 = tw_games[tw_games['GAME_DATE'] >= '2021-10-20']

In [50]:
seas_id_202122 = game_id_list_202122['SEASON_ID'][0]
seas_id_202021 = game_id_list_202021[0]

In [40]:
boxscoresummaryv2.BoxScoreSummaryV2(game_id = game_id_list_202021[0]).get_data_frames()

[         GAME_DATE_EST  GAME_SEQUENCE     GAME_ID  GAME_STATUS_ID  \
 0  2021-05-16T00:00:00             11  0022001071               3

   GAME_STATUS_TEXT         GAMECODE  HOME_TEAM_ID  VISITOR_TEAM_ID SEASON  \
 0            Final  20210516/DALMIN    1610612750       1610612742   2020

    LIVE_PERIOD LIVE_PC_TIME NATL_TV_BROADCASTER_ABBREVIATION  \
 0            4                                          None

   LIVE_PERIOD_TIME_BCAST  WH_STATUS
 0                 Q4  -           1  ,
   LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION  TEAM_CITY  PTS_PAINT  \
 0        00  1610612750               MIN  Minnesota         62
 1        00  1610612742               DAL     Dallas         38

    PTS_2ND_CHANCE  PTS_FB  LARGEST_LEAD  LEAD_CHANGES  TIMES_TIED  \
 0              16      15            24             2           0
 1              20       7             3             2           0

    TEAM_TURNOVERS  TOTAL_TURNOVERS  TEAM_REBOUNDS  PTS_OFF_TO
 0               1               10              9          18
 1               0               16             10          19  ,
    OFFICIAL_ID FIRST_NAME LAST_NAME JERSEY_NUM
 0       202041      Kevin     Scott         24
 1      1627534       Andy      Nagy         83
 2       201638      Brent   Barnaky         36,
    PLAYER_ID FIRST_NAME LAST_NAME JERSEY_NUM     TEAM_ID  TEAM_CITY  \
 0     200755         JJ    Redick         17  1610612742     Dallas
 1    1630179     Tyrell     Terry          1  1610612742     Dallas
 2    1627736      Malik   Beasley          5  1610612750  Minnesota
 3    1629633    Jarrett    Culver         23  1610612750  Minnesota

       TEAM_NAME TEAM_ABBREVIATION
 0     Mavericks               DAL
 1     Mavericks               DAL
 2  Timberwolves               MIN
 3  Timberwolves               MIN  ,
               GAME_DATE  ATTENDANCE GAME_TIME
 0  SUNDAY, MAY 16, 2021        1638      2:12,
          GAME_DATE_EST  GAME_SEQUENCE     GAME_ID     TEAM_ID  \
 0  2021-05-16T00:00:00             11  0022001071  1610612750
 1  2021-05-16T00:00:00             11  0022001071  1610612742

   TEAM_ABBREVIATION TEAM_CITY_NAME TEAM_NICKNAME TEAM_WINS_LOSSES  PTS_QTR1  \
 0               MIN      Minnesota  Timberwolves            23-49        38
 1               DAL         Dallas     Mavericks            42-30        22

    PTS_QTR2  ...  PTS_OT2  PTS_OT3  PTS_OT4  PTS_OT5  PTS_OT6  PTS_OT7  \
 0        38  ...        0        0        0        0        0        0
 1        38  ...        0        0        0        0        0        0

    PTS_OT8  PTS_OT9  PTS_OT10  PTS
 0        0        0         0  136
 1        0        0         0  121

 [2 rows x 23 columns],
       GAME_ID LAST_GAME_ID   LAST_GAME_DATE_EST  LAST_GAME_HOME_TEAM_ID  \
 0  0022001071   0022000673  2021-03-24T00:00:00              1610612750

   LAST_GAME_HOME_TEAM_CITY LAST_GAME_HOME_TEAM_NAME  \
 0                Minnesota             Timberwolves

   LAST_GAME_HOME_TEAM_ABBREVIATION  LAST_GAME_HOME_TEAM_POINTS  \
 0                              MIN                         108

    LAST_GAME_VISITOR_TEAM_ID LAST_GAME_VISITOR_TEAM_CITY  \
 0                 1610612742                      Dallas

   LAST_GAME_VISITOR_TEAM_NAME LAST_GAME_VISITOR_TEAM_CITY1  \
 0                   Mavericks                          DAL

    LAST_GAME_VISITOR_TEAM_POINTS
 0                            128  ,
       GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID        GAME_DATE_EST  \
 0  0022001071    1610612750       1610612742  2021-05-16T00:00:00

    HOME_TEAM_WINS  HOME_TEAM_LOSSES SERIES_LEADER
 0               1                 2        Dallas  ,
       GAME_ID  VIDEO_AVAILABLE_FLAG  PT_AVAILABLE  PT_XYZ_AVAILABLE  \
 0  0022001071                     1             1                 0

    WH_STATUS  HUSTLE_STATUS  HISTORICAL_STATUS
 0          1              1                  0  ]

In [35]:
#Now we want to iterate through and get the average difference in pts per game for each season
from nba_api.stats.endpoints import boxscoresummaryv2
tot_pts_diff = 0

for i in range(len(game_id_list_202021)):
    pts = boxscoresummaryv2.BoxScoreSummaryV2(game_id = game_id_list_202021[i]).get_data_frames()[5]['PTS']
    pts_diff = abs(pts[0]-pts[1])
    tot_pts_diff = tot_pts_diff + pts_diff

In [10]:
#2021-22 Season
tot_pts_diff

971

In [38]:
971/71

13.67605633802817

In [36]:
#2020-21 Season
tot_pts_diff

830

In [37]:
830/72

11.527777777777779

In [51]:
from nba_api.stats.endpoints import playercareerstats
twolves_play_202021 = playercareerstats.PlayerCareerStats(player_id = seas_id_202122)

TypeError: __init__() got an unexpected keyword argument 'season_id'

In [71]:
try1 = tw_games.iloc[0]['GAME_ID']

In [85]:
from nba_api.stats.endpoints import boxscoresummaryv2

#this time we convert it to a dataframe in the same line of code
pts = boxscoresummaryv2.BoxScoreSummaryV2(game_id = try1).get_data_frames()[5]['PTS']
pts_diff = abs(pts[0]-pts[1])
pts_diff

10

In [ ]:
# First get all the

In [62]:
tw_games

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,2016-17,1610612750,MIN,Minnesota Timberwolves,0021601224,2017-04-12T00:00:00,MIN @ HOU,L,48.0,48,...,13,1,48,49,51,63,7,79,10,45
1,2016-17,1610612750,MIN,Minnesota Timberwolves,0021601213,2017-04-11T00:00:00,MIN vs. OKC,L,48.0,38,...,71,39,10,5,51,21,18,31,62,33
2,2016-17,1610612750,MIN,Minnesota Timberwolves,0021601202,2017-04-09T00:00:00,MIN @ LAL,L,48.0,40,...,45,16,48,35,16,71,15,15,30,32
3,2016-17,1610612750,MIN,Minnesota Timberwolves,0021601185,2017-04-07T00:00:00,MIN @ UTA,L,48.0,39,...,74,48,22,8,77,63,72,31,19,50
4,2016-17,1610612750,MIN,Minnesota Timberwolves,0021601178,2017-04-06T00:00:00,MIN @ POR,L,48.0,38,...,20,77,27,49,38,21,36,44,62,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2016-17,1610612750,MIN,Minnesota Timberwolves,0021600079,2016-11-05T00:00:00,MIN @ OKC,L,48.0,33,...,45,82,65,49,6,78,24,31,73,78
78,2016-17,1610612750,MIN,Minnesota Timberwolves,0021600067,2016-11-03T00:00:00,MIN vs. DEN,L,48.0,35,...,34,61,61,35,38,2,56,10,59,40
79,2016-17,1610612750,MIN,Minnesota Timberwolves,0021600052,2016-11-01T00:00:00,MIN vs. MEM,W,48.0,43,...,9,9,79,22,26,21,56,25,13,1
80,2016-17,1610612750,MIN,Minnesota Timberwolves,0021600034,2016-10-29T00:00:00,MIN @ SAC,L,48.0,37,...,67,68,38,56,26,38,72,10,49,40
81,2016-17,1610612750,MIN,Minnesota Timberwolves,0021600009,2016-10-26T00:00:00,MIN @ MEM,L,48.0,36,...,26,61,10,56,26,82,62,6,62,42